*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
app/libs/
_mac/
androidEditors.xml
androidStudioFirstRun.xml
baseRefactoring.xml
debugger.renderers.xml
debugger.xml
diff.xml
editor.codeinsight.xml
editor.xml
encoding.xml
file.template.settings.xml
find.xml
gradle.run.settings.xml
ide.general.xml
ignore.xml
IntelliLang.xml
jdk.table.xml
project.default.xml
toStringTemplates.xml
ui.lnf.xml
vcs.xml
web-browsers.xml
inspection/
.idea/
