<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lognsys.toodit"
    android:configChanges="keyboardHidden"
    android:screenOrientation="portrait">

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TooditApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_toodit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/TooditTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/TooditTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTab"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/facebook_app_id" /></intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/TooditTheme.NoActionBar" />
        <activity
            android:name=".ActivityOTPValidation"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/TooditTheme.NoActionBar" />
<service android:name="com.lognsys.toodit.util.LognSystemLocationService" android:enabled="true"></service>
<service android:name="com.lognsys.toodit.util.FCMInstanceIdService" android:enabled="true">
    <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
    </intent-filter>
</service>

        <service android:name="com.lognsys.toodit.util.FCMService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" android:enabled="true"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/TooditTheme.NoActionBar"> </activity>
    </application>

</manifest>